POSTGRES_DB=tuttiwallet
POSTGRES_USER=tuttiwallet
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

API_HTTP_PORT=8080
WEB_HTTP_PORT=8081
SEQ_HTTP_PORT=8082
SEQ_ADMIN_PASSWORD=change-me

JWT_CHAVE=change-me
